@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.brand{
  display: flex;
  background-color:white;
  padding:0px 20px;
  font-family: 'Ranchers', cursive;
  padding-top: 50px;
}


   .h1{
  font-size:30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu a{
 font-weight: bold;
 text-decoration: none;
 margin:0px 20px;
 cursor:pointer;
}


 .menu a:hover{
  color:#f4b43f;
}


.left a{
  font-weight:bold;
  text-decoration: none;
  margin:0px 20px;
  cursor:pointer;
}

 .left a i{
  color:#f4b43f;
}
 .section1{
  margin-top:50px;
  font-family: 'Ranchers', cursive;
}

.section1{
  display:flex;
  align-items:center;
  justify-content: space-around;
}

.section1 .left{
  overflow:hidden;
}




